/* Font Styling  */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

/* CSS Reset  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
}

/* container css  */
.container {
  width: 45rem;
  height: 25rem;
  margin: 6rem auto;
  background-color: rgb(224, 246, 251);
  padding: 1.5rem;
  border-radius: 0.4rem;
  /* box-shadow: 0px 0px 5px 2px rgb(184, 184, 184); */
}

/* title css  */
.title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: rgb(20, 20, 20);
}

/* Main container css  */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3.5rem;
  width: 100%;
}

.input-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-field {
  width: 60%;
  height: 3rem;
  border: none;
  border-radius: 0.4rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

/* convertor css  */

.convertor {
  width: 90%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Swap-btn css  */

.swap-btn {
  border: none;
  font-size: 2rem;
  color: rgb(14, 14, 109);
  background: transparent;
}

select {
  width: 15rem;
  height: 2rem;
  background-color: whitesmoke;
  color: rgb(17, 17, 17);
  font-weight: bold;
  padding: 0.2rem;
  font-size: 1rem;
}
option {
  background-color: whitesmoke;
  color: rgb(17, 17, 17);
  padding: 0.2rem;
}

option:hover {
  cursor: pointer;
}

.output-section {
  width: 60%;
  background-color: white;
  border-radius: 0.4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    height: fit-content;
    padding: 2rem 1rem;
  }
  .input-field,
  .output-section {
    width: 85%;
  }
  .convertor {
    flex-direction: column;
    height: fit-content;
    gap: 1.5rem;
  }
  .swap-btn {
    transform: rotate(90deg);
  }
}
